$media-size-extra-small-max: 767px;
$media-size-small-tablet: 768px;
$media-size-small-tablet-max: 991px;
$media-size-medium-desktop: 992px;
$media-size-medium-desktop-max: 1199px;
$media-size-large-desktop: 1200px;

$main-bgcolor: white;
$main-textcolor: indigo;
$main-fontsize: 18px;